

.maindiv{
 display: flex;
 justify-content:space-between;
 /* background-color: red; */
 border-bottom: 2px solid rgb(255, 255, 255);

 

}

.header__left{
  display: flex;
  align-items: center;
  gap: 30px;
}

.name{
  color: aliceblue;
}


.buttons{
  display: flex;
  justify-content:space-between;
  align-items: center;
  text-align: center;
  /* background-color: rgb(9, 25, 25); */
  
  
  
  
}

.buttons__box{
  display: flex;
  align-items: center;
  gap: 10px;
}